<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
		<!--<add name="TRN_DB" connectionString="Database=RCTCollege_TestDB;Server=(localdb)\MSSQLLocalDB;Integrated Security =true;Connection Timeout=30"/>-->

		<add name="TRN_DB" connectionString="Data Source=sql8003.site4now.net;Initial Catalog=db_a8fe4b_enrsys2023;connect timeout=400;Integrated Security=false;User Id=db_a8fe4b_enrsys2023_admin;Password=enrsys@2023"/>
  </connectionStrings>
<appSettings>
	<add key="ReportServerPath" value="D:\sample\"/>
</appSettings>
</configuration>